name: MachinaAtmosphere
version: @VERSION@
description: A Machina capable of changing the atmospheric environment around it.
author: Lyneira
main: me.lyneira.MachinaAtmosphere.MachinaAtmosphere
depend: [MachinaCore]