name: MachinaFactoryCore
version: @VERSION@
description: A MachinaCraft framework for factory components.
author: Lyneira
main: me.lyneira.MachinaFactoryCore.MachinaFactoryCore
depend: [MachinaCore]
